<ion-header>
  <ion-toolbar color="primary">
    <ion-title> FPS Example </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    button
    (click)="deleteCard($event.target, item)"
    *ngFor="let item of items"
  >
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content> Click me to delete</ion-card-content>
  </ion-card>
</ion-content>
